body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 20px;
}

h1 {
    color: #555;
}

p {
    font-size: 16px;
}

a{
    color: blue;
    text-decoration: none;
}
 
a:hover {
    text-decoration: underline;

}

ul {
    background: white;
    padding: 15px;
    border-radius: 5px;
}

li {
    margin-bottom: 8px;
}

input, textarea {
    width: 300px;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    padding: 10px 15px;
    background-color: 10px;
    color: white;
    border: none;
}
